<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=(localdb)\MSSQLLocalDB;Database=EmployeeDbTest;Integrated Security=true;" />
  </connectionStrings>
  
  <appSettings>
    <add key="JwtSecret" value="TestSecretKeyForIntegrationTestsOnly12345678901234567890123456" />
    <add key="JwtIssuer" value="MyEmployeeApiIntegrationTest" />
    <add key="JwtAudience" value="MyEmployeeApiIntegrationTest" />
    <add key="TokenExpiryMinutes" value="5" />
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>